body{
            background-color: rgb(241, 208, 204);
            color: rgb(66, 55, 223);
            margin: 0;
            pad: 0;
        }

        header{
            background-color: whitesmoke;
            text-align: center;
            padding: 20px; 
        }

        h1{
            color:rgb(190, 34, 190) ;
        }
        /* menu styles*/
        nav a {
            color: navy;
            text-decoration:none;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            font-size: x-large;
        }

        nav a:hover{
           color:rgb(190, 34, 190) 
        }

        main{
            padding: 20px;
        }
        
       .img-decorative{
            /* the image will fill in 100% of the container it is in;based on how the page is set up, wil will fill in the screen size */
            width: 100%;
            /* so the images does not exceed the arbitrary limit of 400px */
            max-width: 400px;
            /* gives the rounded corners look*/
            border-radius: 10px;

       } 

 /* Start Flex box styles - can use on any elements, since they are custome classes */
         /* the parent container styles */
        .flex-container{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        /* the styles for each flex column */
        .flex-column{
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            background-color: whitesmoke;

        }

        .flex-column {
            max-width: 500px;
            width: 80%;
            border-radius: 5px;
        }
         /* End Flex box styles */

         /* Start Flex Gallery styles */
        .flex-gallery-container{
            display: flex;
            flex-wrap: wrap;
       }

       .flex-gallery-column{
            flex: 25%;
            text-align: center;
       }

       .flex-gallery-column img{
            width: 90%;
            border-radius: 5px;
       }

       /* media query for smaller screen sizes */
       @media (max-width: 900px){
        .flex-gallery-column{
            flex: 50%;
        }
       }

       @media (max-width: 600px){
        .flex-gallery-column{
            flex:100%;
        }
       }
       /* End Flex Gallery Styles */
